@import "bootstrap";

/*Universal*/
.hidden {
	display: none;
}
.shown {
	display:block;
}
body {
  padding-top: 60px;
}

/*Game Page */

.oppCards {
	/*display: none;*/
}
.partCards {
	/*display:none;*/
}
.partHand {
	min-height: 200px;
}
.oppHand {
	min-height: 200px;
}