<p>-------------------------------</p>
<ul>
	<li><%= link_to "Sign up", signup_path %></li>
	
		<% if signed_in? %>
			<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
			<li><%= link_to "View your profile", current_user %></li>
		<% else %>
			<li><%= link_to "Sign in", signin_path %></li>
		<% end %>
		
</ul>

<p>-------------------------------</p>